body{
    background-color: #ebe7e3;
    margin: 0;
    padding:0;
    color: #666666;
    
}
a{
    color: #666666;
}
header{
    display: flex;
    flex-direction: column;
}
ul,h1,h2,h3,h4,h5,h6,p{
    margin :0;
    padding:0;
}
.nav_list_content a{
    color: #666666;
    text-decoration: none;
}
.footer_block_list a{
    color: #fff;
    text-decoration: none;
}
/*HEADER*/
.image_header{
    position: relative;
    max-width: 100%
}
.image_header img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
.logo_header{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 253px);
}
/*NAVIGATION*/
.nav{
    margin: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav_list_content{
    margin: auto;
    width: 70%;
}
.nav_list{
    display: flex;
    justify-content: space-between;
}
.nav_list a{
    padding: 2% 0 20% 0;
    text-decoration: none;
}
.nav_list li{
    list-style-type: none;
    font-size: 1.5em;
    padding-bottom: 6px
}
.nav_list a:hover,
.nav_list a:focus{
    border-bottom: 2px solid #666666;
}
.nav_shadow{
    height: 10px;
    background-image: url("../images/shadow-nav.png");
    background-repeat: repeat-x;
}
.bars-nav-wrap-menu{
    width:45px;
    height:45px;
    color: #666666;
}
.close-nav-wrap-menu{
    width:45px;
    height:45px;
    color: #666666;
}
a#close{
    display: none;
    position: absolute;
    top: 10px;
}

.nav-wrap {
    display: none;
    margin: 5px 0 0 10px;
}
.bars-nav-wrap-menu{
    width:45px;
    height:45px;
    color: #666666;
}

/*BODY CONTENT*/
.body{
    width: 70%;
    margin: auto;
}
.body_content{
    background-color: white;
    padding: 15px 30px 15px 30px;
    margin-bottom: 2%;
}
.comment{
    padding: 15px 30px 15px 30px;
    margin-bottom: 2%;
}
.comment_content{
    width: 85%;
    margin: auto;
    background-color: white;
    margin-top: 2%;
}
.comment_body{
    padding: 15px 30px 15px 30px;
}
.news_content{
    width: 75%;
    background-color: white;
    margin-bottom: 2%;
    height: 100%;

}
.news{
    padding: 20px
}
.title_content{
    border-bottom: 1px solid #666666;
    padding-bottom: 1%;
}
.undertitle_content{
    border-bottom: 1px solid #666666;
    padding-bottom: 1%;
    font-style: italic;
}
.title_content h2{
    font-size: 3em;
}
.title_content h4{
    font-size: 2em;
}

.title_content p{
    font-size: 1.2em;
}
.date{
    font-style: italic;
}
.comment_body_content form{
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
.block{
    margin-top:2%;
    text-align: justify;
}
.news_infos_elmt{
    margin-top: 3%;
    font-style: italic;
}
.news_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.news_date{
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}
.report{
    text-align: end;
}
/*FORM*/

.comment_form{
    width: 85%;
    padding: 15px 30px 15px 30px;
    margin-top: 2%;
}
label{
    font-style: italic;
}
.form_content{
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.form_flex{
    display: flex;
    justify-content: center;
}
textarea{
    padding: 0;
}
.input_size{
    border: #e1e1e1 1px solid;
    width: 85%;
    height: 30px;
    padding: 0 1% 0 1%;
}
.textarea_size{
    height: 140px;
    border: #e1e1e1 1px solid;
    width: 85%;
    padding: 1%;
    resize: none;
}
/*EPISODE*/
.synopsis_content_flex{
    display: flex;
    justify-content: center;
}
.episode_table_content:hover{
    background: rgba(154,145,138,0.2);
}
.btn_synopsis_elmnt{
    margin: 4% 0 4% 0;
}
.episode_table_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-left: 1%;
}
.resume{
    width: 50%;
}
.btn_elmt{
    margin-right: 5%;
}
/*ABOUT*/
.about_content{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_about{
    font-size: 2em;
    padding: 4% 0 4% 0;
}
.portrait{
    background-color: grey;
    width:200px;
    height: 250px;
}
.about{
    text-align: justify;
}
.signature_about{
    margin:  5% 10% 0 0;
    align-self: flex-end;
}
/*CONNEXION*/
.register_content{
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.auth_form{
    width: 100%;
    padding: 15px 10px 15px 10px;
    margin: 3% 0;
}
.auth_input{
    width: 65%;
    height: 40px;
    padding: 0 1% 0 1%;
    font-size: 0.8em;
    border: #e1e1e1 1px solid;
    margin-right: 2%;
}
#register label{
    width: 30%;
}
#register .form_flex,
#connect .form_flex{
    margin-top: 7%;
}
.error_content{
    min-width: 40%;
    width: 40%;
}
.error_form{
    color: red;
    font-style: italic;

}
/*FOOTER*/
.footer_block{
    background-color: #666666;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2% 316px 2% 315px;
}
.footer_block_list{
    width: 25%;
    font-size: 1.2em;
    color: #fbf7f4;
    margin-top: 3%;
}
.footer_block_reseaux{
    width: 15%;
    margin-top: 5%;
}
.footer_block_reseaux ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer_block_list li,
.footer_block_reseaux li{
    list-style-type: none;
}
.footer_block_list li{
    margin-bottom: 10%;
}

footer p{
    text-align: center;
}


/*MEDIAQUERIES*/
@media (max-width: 1024px) {
    .body {
        width: 90%;
    }
    .logo_header {
        position: absolute;
        width: 40%;
        bottom: 30px;
        left: calc(50% - 200px);
    }
    .news_content {
        width: 100%;
    }
    .footer_block {
        padding: 0;
    }
    .signature_about{
        margin: 0;
    }
    .signature_about img{
        width: 100%;
    }

}
@media (max-width: 768px) {
    .body {
        width: 90%;
    }
    header{
        flex-direction: column-reverse;
        position: relative;
    }
    .logo_header {
        position: absolute;
        width: 40%;
        bottom: 30px;
        left: calc(50% - 150px);
    }
    #wrap{
        transition: transform .4s cubic-bezier(.25, .1, .25, 1);
    }
    #wrap:not(:target) {
        transform: translate3d(-400px, 0, 0);
    }
    #wrap:target {
        transform: translate3d(0, 0, 0);
    }

    #wrap:target #open,
    #wrap:not(:target) #close {
        display: none;
    }
    #wrap:target #open {
        display: none;
    }
    #wrap:target #close {
        display: block;
    }
    .nav{
        background-color: #ebe7e3;
        height: 100%;
        width: 50%;
        position: absolute;
        z-index: 5;
    }
    .nav-wrap {
        display: block;
        position: absolute;
    }
    .nav_list{
        flex-direction: column;
    }
    .nav_list_content {
        width: 90%;
        font-size: 1.4em;
        height: 190px;
        margin-left: 10px;
    }
    .nav_shadow{
        display: none;
    }
    .nav_list a:hover,
    .nav_list a:focus{
        border-bottom: none;
    }

    .btn_elmt {
        font-size: 1.5em;
    }
    .block{
        font-size: 1.5em;
    }
    .comment {
        padding: 10px;
        margin-bottom: 2%;
    }
    .comment_form {
        width: 100%;
        padding: 0;
        margin-top: 2%;
    }
    .comment_form form {
        margin: 0;
        padding: 10px;
    }
    .input_size {
        border: #e1e1e1 1px solid;
        width: 100%;
        height: 30px;
        padding: 0 1% 0 1%;
    }
    .textarea_size {
        height: 140px;
        border: #e1e1e1 1px solid;
        width: 100%;
        padding: 1%;
        resize: none;
    }
    .footer_block {
        padding: 0;
        font-size: 1.2em;
    }
    .footer_block_reseaux {
        width: 21%;
        margin-top: 5%;
    }

}
@media (max-width: 425px) {
    .body{
        width: 100%;
    }
    .nav {
        height: 310px;
        width: 50%;
    }
    .logo_header {
        position: absolute;
        top: 27px;
        width: 50%;
        left: calc(50% - 100px);
    }

    .block{
        font-size: 1.5em;
    }

    .error_content {
        min-width: 40%;
        width: 100%;
    }
    .footer_block {
        padding: 5% 0 5% 0;
    }
    .footer_block_reseaux {
        width: 65%;
        margin-top: 5%;
    }
    .footer_block_list {
        width: 90%;
        font-size: 1.2em;
        color: #fbf7f4;
        margin-top: 3%;
    }

}