body{
    background-color: #fbf7f4;
    margin: 0;
    padding:0;
    color: #666666;
    
}
ul,h1,h2,h3,h4,h5,h6,p{
    margin :0;
    padding:0;
}
a{
    color: #666666;
    text-decoration: none;
}
/*HEADER*/
.image_header{
    position: relative;
}
.image_header img{
    width: 100%
}
.logo_header{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 253px);
}
/*NAVIGATION*/
.nav{
    margin: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav_list_content{
    margin: auto;
    width: 70%;
    height: 130px;
}
.nav_list{
    display: flex;
    justify-content: space-between;
}
.nav_list a{
    padding: 2% 0 1% 0;
    text-decoration: none;
}
.nav_list li{
    list-style-type: none;
    font-size: 1.5em;
    padding-bottom: 6px
}
.nav_list a:hover,
.nav_list a:focus{
    border-bottom: 2px solid #666666;
}
.nav_shadow{
    height: 20px;
    background-image: url("../images/shadow-nav.png");
    background-repeat: repeat-x;
}
/*BODY CONTENT*/
.body{
    width: 70%;
    margin: auto;
}
.body_content{
    background-color: white;
    padding: 15px 30px 15px 30px;
    margin-bottom: 2%;
}
.comment_content{
    padding: 15px 30px 15px 30px;
    margin-bottom: 2%;
}
.comment_body_content{
    width: 85%;
    margin: auto;
    background-color: white;
    padding: 15px 30px 15px 30px;
    margin-top: 2%;
}
.news_content{
    width: 75%;
    background-color: white;
    padding: 15px 30px 15px 30px;
    margin-bottom: 2%;
}
.title_content{
    border-bottom: 1px solid #666666;
    padding-bottom: 1%;
}
.undertitle_content{
    border-bottom: 1px solid #666666;
    padding-bottom: 1%;
    font-style: italic;
}
.title_content h2{
    font-size: 3em;
}
.title_content h4{
    font-size: 2em;
}

.title_content p{
    font-size: 1.2em;
}
.date{
    font-style: italic;
}
.block{
    margin-top:2%;
    text-align: justify;
}
.news_infos_elmt{
    margin-top: 1%;
    font-style: italic;
}
.news_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news_date{
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}
/*FORM*/
.comment_form{
    width: 85%;
    margin: auto;
    padding: 15px 30px 15px 30px;
    margin-top: 2%;
}
label{
    font-style: italic;
}
.form_content{
    width:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}
.form_flex{
    display: flex;
    justify-content: center;
}
textarea{
    padding: 0;
}
.input_size{
    border: none;
    width: 85%;
    height: 30px;
    padding: 0 1% 0 1%;
}
.textarea_size{
    height: 140px;
    border: none;
    width: 85%;
    padding: 1%;
    resize: none;
}
/*EPISODE*/
.synopsis_content_flex{
    display: flex;
    justify-content: center;
}
.btn_synopsis_elmnt{
    margin: 4% 0 4% 0;
}
.episode_table_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
}
.resume{
    width: 50%;
}
.btn_elmt{
    margin-right: 5%;
}
/*ABOUT*/
.about_content{
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_about{
    font-size: 2em;
    padding: 4% 0 4% 0;
}
.portrait{
    background-color: grey;
    width:200px;
    height: 250px;
}
.about{
    text-align: justify;
}
.signature_about{
    margin:  5% 10% 0 0;
    align-self: flex-end;
}
/*FOOTER*/
.footer_block{
    background-color: #666666;
    height: 200px;
    display: flex;
    justify-content: space-around;
    padding: 2% 316px 2% 315px;
}
.footer_block_list{
    width: 25%;
    font-size: 1.2em;
    color: #fbf7f4;
    margin-top: 3%;
}
.footer_block_reseaux{
    width: 15%;
    margin-top: 5%;
}
.footer_block_reseaux ul{
    display: flex;
    justify-content: space-between;
}
.footer_block_list li,
.footer_block_reseaux li{
    list-style-type: none;
}
.footer_block_list li{
    margin-bottom: 10%;
}

footer p{
    text-align: center;
}